.cadastrar form {
  background-color: antiquewhite;
}

.cadastrar label {
  background-color: antiquewhite;
  font-size: 25px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}

.cadastrar input {
  background-color: #f2f2f2;
  padding: 6px 10px;
  box-sizing: border-box;
  border: 1px solid black;
}

.cadastrar button {
  background-color: indianred;
  color: beige;
  font-size: large;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  padding: 8px;
  margin: 10px;
  cursor: pointer;
}

.cadastrar button:hover {
  background-color: brown;
  transform: scale(1.01);
}

.message {
  margin: 30px;
  padding: 10px;
}

.pos {
  color: limegreen;
}

.neg {
  color: red;
}
